body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul 
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

main {
    margin: 20px;
}

section {
    border-bottom: 1px s #ccc;
    padding: 10px 0
}

h1, h2, h3 {
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

img {
    display: block;
    margins: 10px auto;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}