body {
    font-family: Arial, sans-serif;
    font-size: 2em;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}
.game-container {
    width: 100%;
}
.card {
    width: 100px;
    cursor: pointer;
}
.card-image {
    width: 100px;
}